.title {
  text-align: center;
  color: white;
}

.bmi-calculator {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.male-and-female-picker-container, .weight-and-age-picker-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
